:root {
    --color-White: hsl(0, 0%, 100%);
    --color-Black: hsl(0, 0%, 0%);
    --color-Dark-Gray: hsl(0, 0%, 55%);
    --color-Very-Dark-Gray: hsl(0, 0%, 41%);
    --font-family-Alata: 'Alata', Arial, sans-serif;
    --font-family-JosefinSans: 'Josefin Sans', Arial, sans-serif; /* Fixed font family name */
    --font-weight-Alata: 300;
    --font-weight-JosefinSans: 400;
}

/*      This page does not contain some detailes like font size, line height, margins & element sizes
    cause I do not have the figma file and I am building it from an images */


/* fonts */
.project,
h1 {
    font-family: var(--font-family-JosefinSans);
    font-weight: var(--font-weight-JosefinSans);
}

footer a,
footer p,
header a,
a.btn,
.interactive p {
    font-family: var(--font-family-Alata);
    font-weight: var(--font-weight-Alata);
}

/* page */
body {
    font-size: 15px;
    margin: 0px;
}

.hero {
    width: 100%;
    height: 650px;
    color: var(--color-White);
    background-position: center center;
    background-size: cover;
    overflow: hidden;

    * {
        position: relative;
        z-index: 2;
    }

    &::after {
        content: "";
        display: block;
        z-index: 0;
        position: relative;
        bottom: 103%;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

header {
    height: 100px;
    width: 80%;
    margin: auto 10%;
    padding-top: 50px;
}

header .logo {
    float: left;
}

header .links {
    float: right;
}

header .close,
header .hamburger {
    display: none;
}

header .links a {
    display: inline-block;
    margin: 26px;
    color: var(--color-White);
    text-decoration: none;
    width: 50px;
    text-align: center;

    &::after {
        content: "";
        position: absolute;
        bottom: -16px;
        left: 25px;
        width: 0px;
        height: 10px;
        border-bottom: 2px solid var(--color-White);
        transition: 500ms;
    }
}

.hero h1 {
    border: 1px solid var(--color-White);
    width: 40%;
    padding: 25px 60px;
    margin: 60px 10%;
    font-size: 75px;
    line-height: normal;
    text-transform: uppercase;
}

main {
    width: 80%;
    margin: 190px 10%;
    overflow-x: hidden;

    >*+* {
        margin-top: 190px;
    }
}

.interactive {
    height: 500px;
    position: relative;
}

.interactive .bio {
    position: absolute;
    z-index: 50;
    width: calc(50% - 75px);
    left: 50%;
    bottom: 0%;
    background-color: var(--color-White);
    padding: 40px 0px 0px 75px;
}

.interactive .bio h1 {
    font-size: 58px;
    text-transform: uppercase;
}

.interactive .bio p {
    font-size: larger;
    color: var(--color-Dark-Gray);
    line-height: 1.5;
}

.creations {
    position: relative;
}

.creations h1 {
    margin: 26px 0px;
    text-transform: uppercase;
    font-size: 48px;
}

.creations a.btn {
    position: absolute;
    top: -13px;
    right: 0;
    margin: 26px 0px;
    text-transform: uppercase;
    height: fit-content;
    padding: 10px 40px;
    border: 1px solid var(--color-Black);
    color: var(--color-Black);
    text-decoration: none;
    letter-spacing: 4px;
    /* set the letter spacing value */
}

.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 26px;
    row-gap: 26px;
    margin: 100px 0px 0px;
}

.project {
    position: relative;
}

.project img {
    width: 100%;
    height: auto;
    filter: grayscale(50%);
}

.project p {
    position: absolute;
    bottom: 0;
    margin: 50px;
    color: var(--color-White);
    font-size: 36px;
    text-transform: uppercase;
    text-decoration: none;
}

footer {
    background-color: var(--color-Black);
    color: var(--color-White);
    height: 80px;
    padding: 40px 10%;
}

.left-f {
    float: left;
}

.left-f .f-logo {
    height: 26px;
}

.left-f .link-list {
    display: flex;
    padding: 0px;
    margin: 15px 0;

    *+* {
        margin-left: 50px;
    }
}

.left-f .link-list a {
    position: relative;
    color: var(--color-White);
    text-decoration: none;
    width: 50px;
    text-align: center;

    &::after {
        content: '';
        position: absolute;
        width: 0px;
        height: 10px;
        border-bottom: 2px solid var(--color-White);
        bottom: -15px;
        left: 25px;
        transition: 500ms;
    }
}

.right-f {
    float: right;
}

.right-f .socials {
    height: 32px;

    *+* {
        margin-right: 15px;
    }
}

.right-f .socials a {
    float: right;
    height: 26px;
    padding-bottom: 10px;
    border-bottom: 0px solid var(--color-White);
    transition: 500ms;
    transition-delay: 100ms;
}

.right-f p {
    color: var(--color-Dark-Gray);
}

/* elements actions -----------------------------------------------------*/

header .links a:hover,
.left-f .link-list a:hover {
    &::after {
        left: 12.5px;
        width: 25px;
    }
}

.creations a:hover {
    background-color: var(--color-Black);
    color: var(--color-White);
    transition: 250ms;
}

.project:hover {
    filter: opacity(0.5);
    color: var(--color-Black);
}

.right-f .socials a:hover {
    border-bottom-width: 2px;
}